<%= form.inputs do -%>
  <%= form.input :body, :hint => "<a href='http://textile.thresholdstate.com/'>Textile enabled</a>. Use Ctrl+E to switch between preview and edit mode.".html_safe -%>
  <%= form.input :title -%>
  <%= form.input :tag_list, :as => 'string', :required => false, :hint => 'Comma separated: fiction, journal&hellip;'.html_safe -%>
<% end -%>
