<div class="twelve columns" id="newPost">
	<%= semantic_form_for([:admin, @post]) do |form| -%>
	  	<%= render :partial => 'form', :locals => {:form => form} -%>
		<ul class="button-group even three-up radius">
			<li><a class="button radius alert" onclick="enterFullScreen()">Focus</a></li>
			<li><%= form.actions do -%><%= form.action :submit, :as => :button %><% end -%></li>
			<li><a href="#" class="button radius success">Publish</a></li>
		</ul>
	<% end -%>
</div>