
/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Imports
:: Variables
:: Shared Styles
:: FullScreen Styles
:: Footer Styles
*/

/* -----------------------------------------
	Imports
----------------------------------------- */

@import "foundation";

/* -----------------------------------------
	Variables
----------------------------------------- */

$black: #000;
$yellow: #f2ce6d;

/* -----------------------------------------
	Shared Styles
----------------------------------------- */

body {
	background: #fefcea;
	background: -moz-radial-gradient(center, ellipse cover,  #fefcea 15%, $yellow 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(15%,#fefcea), color-stop(100%,$yellow));
	background: -webkit-radial-gradient(center, ellipse cover,  #fefcea 15%,$yellow 100%);
	background: -o-radial-gradient(center, ellipse cover,  #fefcea 15%,$yellow 100%);
	background: -ms-radial-gradient(center, ellipse cover,  #fefcea 15%,$yellow 100%);
	background: radial-gradient(ellipse at center,  #fefcea 15%,$yellow 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='$yellow',GradientType=1 );
}
header.row {
	margin-top: 33px;
}
.reveal-modal { 
	top: 33px;
	background: $black;
}
h1.title {
	font-family: 'Droid Serif', serif;
	display:inline;
}
h4.title {
	display:inline;
	text-transform: uppercase;
	float:right;
}
.centered {
	text-align:center;
	margin-right:auto;
	margin-left:auto;
}
.right {
	float:right;
}

/* -----------------------------------------
   FullScreen Styles
----------------------------------------- */

#fullText:-moz-full-screen {
    background: #000;
}

#fullText:-webkit-full-screen {
    background: #000;
}

#fullText:fullscreen {
    background: #000;
}
#fullText:-webkit-full-screen p{
	visibility: hidden;
}
#fullText:-webkit-full-screen .button-group{
	opacity:0.4;
}
#fullText:-webkit-full-screen .button-group:hover{
	opacity:0.9;
}
#fullText:-webkit-full-screen #title{
	opacity:0.3;
}
#fullText:-webkit-full-screen #title:focus{
	opacity:0.9;
}

/* -----------------------------------------
   NewPost Styles
----------------------------------------- */

#newPost fieldset {
	border: none;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	padding: 0;
	margin: 0;
}
#newPost label {
	display:none;
}
#newPost ol {
	list-style: none;
}
#newPost .fieldLabel{
	text-transform: uppercase;
	font-size: 16px;
	line-height: 1.3;
	color: #6F6F6F;
	font-weight: 300;
	margin-bottom: 17px;
}
#newPost textarea {
	background: #fff;
	color: #000;
	border: 3px solid #000;
	padding: 33px;
	opacity: 0.7;
	font-family: "Helvetica Neue", Helvetica, sans-serif; 
	-moz-box-shadow:    5px  $yellow;
	-webkit-box-shadow: 5px  $yellow;
	box-shadow:         5px $yellow;
	&:focus { 
		background: #2A211C; 
		color: #BDAE9D;
		outline: none !important; 
		border: 33px solid #000;
		opacity: 1.0;
		font: 16px/20px normal 'Courier', Courier, serif;
	}
}
#bar
{
background-color:#5fbbde;
width:0px;
height:16px;
}
#barbox
{
float:right;
height:16px;
background-color:#FFFFFF;
width:100px;
border:solid 2px #000;
margin-right:3px;
-webkit-border-radius:5px;-moz-border-radius:5px;
}
#count
{
float:right; margin-right:8px;
font-family:'Georgia', Times New Roman, Times, serif;
font-size:16px;
font-weight:bold;
color:#666666
}
#contentbox
{
width:450px; height:50px;
border:solid 2px #006699;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
}
/* -----------------------------------------
   Footer Styles
----------------------------------------- */

footer {
	padding: 33px 0;
}
li a.button#active {
	background: #222;
}