<footer class="row">
	<div class="three columns">        
		<%= link_to "sample app", root_path, id: "logo" %>
	</div>
	<div class="nine columns">
		<nav>
			<ul class="nav right">
				<li><%= enki_config[:title] %></li>
			</ul>
		</nav>
	</div>
</footer>